body {
  font-family: serif;
  font-size: 20px;
  background-color: lightgray;
  background-image: url("/home/alphania/Downloads/top-writing-tools.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal;
  background-blend-mode: overlay;
}
.jumbotron {
  background-color: inherit;
  font-family: serif;
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
